body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: aliceblue;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
    width: 80px;
    height: auto;
}

.logo h5 {
    font-size: 30px;
    margin: 0;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    font-size: 30px;
    background-color: whitesmoke;
}

.main-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border-radius: 30px;
}

.main button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3882F6;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 100px;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 100px;
    background-color: whitesmoke;
}

.thumbnail-image {
    width: 45%;
    height: auto;
    border-radius: 10px;
    border: #3882F6 solid 2px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.thumbnails > div {
    flex: 1;
    text-align: center;
}

.thumbnails .text {
    color: #1F2937;
}

#thumbnail-text1 {
    font-size: 16px;
    font-weight: bold;
}

#thumbnail-text2 {
    font-size: 30px;
    margin-top: 10px;
}

.highlight {
    color: #3882F6;
}

.thumbnail {
    font-size: 20px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px;
    text-align: center;
    font-size: 24px;
}

#quote-author {
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: whitesmoke;
}

.action .box {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 40px 80px;
    background-color: #3882F6;
    width: 60%;
    border-radius: 20px;
    color: aliceblue;
}

.action .box button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3882F6;
    color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    border: #E5E7EB solid 2px;
}

.footer {
    background-color: #1F2937;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}